
/* Helpers */
a {
    border: none;
}

.content-grid {
    display: grid;
    padding: 0;
    margin: 0 auto;
    min-height: 100vh;
    grid-template-columns: 268px 1fr 268px;    
}

.product-grid {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    display: grid;
}

.product-card {
    border-radius: 14px;
    box-shadow: 0 0 0 1px rgba(20,10,0,0.0), 0 2px 7px rgba(40,20,0,0.0);
    background: #fff;
    display: block;
    transition: all 150ms;
    box-shadow: 0 0 0 1px rgba(230,230,230,0.7), 0 3px 8px 0 rgba(0,0,0,0.0);
}

.product-card:hover {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 3px 0px;
    box-shadow: 0 6px 14px 0 rgba(0,0,0,.05);
}

.post-header-avatar {
    width: 40px;
    height: 40px;
    margin-right: 16px;
    border-radius: 8px;
}

.product-card__title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.product-card__rating {
    font-size: 14px;
    font-weight: 600;
    color: #333;
    display: flex;
    align-items: center;
    line-height: 1;
    margin-top: 4px;
}

.product-card__header {
    padding: 16px;
    display: flex;
    align-items: center;
}

.product-card__body {
    width: 100%;
}

.product-card__img {
    padding: 0 8px;
    width: 100%;
}

.wrapper {
    max-width: 900px;
    overflow: hidden;
    border-radius: 10px;
    border-radius: 14px;
    margin-bottom: 16px;
    background: #f4f4f4;
    position: relative;
}

[style*="--aspect-ratio"]>:first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
}