---
layout: compress
---

<!DOCTYPE html>
<html data-current="{{ page.section }}" lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main>

      {{ content }}

    </main>

    {% include footer.html %}

  </body>

  <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.8.1/dist/instantsearch.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.8.1/dist/instantsearch.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.8.1/dist/instantsearch-theme-algolia.min.css">
  <script src="../search.js"></script>


</html>
